<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="sortBy">Sort By</label>
      <select class="form-control" id="sortBy">
        <option disabled>As Given</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="direction">Direction</label>
      <select class="form-control" id="direction" id="sortBy">
        <option value="name">ASC</option>
        <option value="price">DESC</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngFor="let product of products">
    <app-product-single [product]="product"></app-product-single>
  </div>
</div>
